body {
    display: flex;
    flex-direction: column;
    background-color: silver;
    margin: 0;
    width: 100%;
    min-height: 100%;
    padding: auto;
}

div.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: teal;
    font-weight: bolder;
    color: silver;
    text-decoration: underline;
    text-align: center;
    margin: 0;
    font-size: 30px;
    border-bottom: 2px solid #333;
    height: 80px;
    width: 100%;
    max-width: none;
    padding-top: 20px;
    padding-bottom: 20px
}

#title {
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 24px;
}

.navBar {
    position: absolute;
    border: #333;
    height: 380px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: silver;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    box-shadow: 5px 5px 10px #333;
}

.navBar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #333;
    display: block;
    transition: 0.3s;
}

.navBar a:hover {
    color: teal;
}

.navBar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
    background-color: silver;
    color: #333;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: teal;
}

footer {
    background-color: teal;
    color: silver;
    margin-top: auto;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
}
section {
    background-color: teal;
    color: silver;
    border: solid, #333;
    border-radius: 10px;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 4%;
    margin-bottom: 4%;
    width: 80%;
    padding: 20px;
    text-align: center;
    box-shadow: 5px 5px 10px black;
}

h2 {
    text-decoration: underline;
}

p {
    font-size: 18px;
    text-decoration: none;
}

button.random {
    border:none;
    background-color: silver;
}

li {
    margin-right: 40px;
    list-style: none;
}